.dropdown {
  margin-top: 10px;
  position: absolute;
  top: 100%;
  left: 0;
  background: #ffffff;
  width: 100%;
  border-radius: 4px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: left;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease;
}

.dropdown:before {
  content: "";
  position: absolute;
  top: -6px;
  left: 20px;
  width: 0;
  height: 0;
  box-shadow: 2px -2px 6px rgba(0, 0, 0, 0.05);
  border-top: 6px solid #ffffff;
  border-right: 6px solid #ffffff;
  border-bottom: 6px solid transparent;
  border-left: 6px solid transparent;
  transform: rotate(-45deg);
  mix-blend-mode: multiple;
}

.item {
  z-index: 1;
  position: relative;
  background: #ffffff;
  padding: 0 20px;
  color: #666;
}

.item:first-child {
  border-radius: 4px 4px 0 0;
}

.item:last-child {
  border-radius: 0 0 4px 4px;
}
